:root {
  --current-color: #a7d7bb;
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desctop styles & > */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* reset end */

/* Header */
.header {
  position: relative;
  /* z-index: var(--header-idx); */
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* Logo */
.logo-container {
  margin-left: auto;
  margin-right: auto;
}
.logo {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--current-color);
}
/* Menu navigation */
.menu-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  display: block;
  padding: 24px 0;
  position: relative;
}
.menu-link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;

  transition-property: color var(--color-ocean);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current.link {
  color: var(--color-ocean);
}

.menu-link.current::after {
  background-color: var(--color-ocean);
}

.list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;

  color: var(--color-navy-blue);

  transition-property: color var(--color-ocean);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list .link:hover,
.list .link:focus {
  color: var(--color-ocean);
}

/* Header button */
.header-btn {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--current-color);
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.header-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* Mobile menu styles */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
  fill: var(--current-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--current-color);
  overflow-y: auto;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  text-decoration: none;

  margin: 0;
  list-style: none;

  margin-bottom: auto;
}
.menu-toggle.js-close-menu {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 24px;
  min-width: 24px;
}

.mobile-menu .link {
  display: block;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: black;
  text-decoration: none;
}
.mobile-menu-link.current.link {
  color: var(--color-ocean);
}

.mobile-social-icons {
  display: flex;
  gap: 56px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 427px) {
  .mobile-social-icons {
    gap: 32px;
  }
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 40px;
}

.mobile-tel-link.link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-iris);
  border: none;
}
@media only screen and (max-width: 427px) {
  .mobile-tel-link.link {
    font-size: 26px;
  }
}
.mobile-mail-link.link {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
