/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Tablet styles & > */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desctop styles & > */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* reset end */
